* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:Courier;
}
.wrapper {
	background-color: #c0c0c0;
	background: url(1.jpg) repeat;
}
.header { 
	text-align: center;
}
.header ul {
	list-style: none;
}
.header li {
	display: inline-block;
	font-size: 30px;
}
.header a {
	text-decoration: none;
	color:black;
	display: inline-block;
	padding: 5px 40px;
	margin: 20px 10px;
}
.header a:hover {
	background-color: grey;
	transition-delay: 0.15s;
	color: white
}
.content {
	text-align: center;
	font-size: 20px;
}
.about {
	padding: 0 55px;
	line-height: 211px;
	vertical-align: middle;
}
.adout span {
	line-height: 211px;
	vertical-align: middle;
}
.content img {
	width: 200px;
	height: 211px;
	float: left;
}
.portfolio section {
	display: inline-block;
	width: 30%;
	margin: 8px auto;
}
#work {
	padding: 20px 0;
}
.portfolio a {
	display: block;
	font-size: 30px;
	text-decoration: none;
	color:black;
}
.portfolio section span {
	display: block;
	text-align: center;
	color:black;
	background-color: white;
	height: 300px;
	text-decoration: none;
}
.portfolio section span a {
	padding: 135px 50px;
}
.portfolio section span:hover {
	background-color: grey;
	transition-delay: 0.15s;
}
.portfolio section span a:hover {
	color: white;
	transition-delay: 0.15s;
}
.contacts {
	padding: 20px 55px;
}
.contacts span {
	font-size: 30px;
	padding-bottom: 20px;
}
.contacts ul {
	padding-top: 20px;
	list-style:none;
	text-align: left;
}
.contacts a {
	text-decoration: none;
	color: black;
}
.contacts a:hover {
	color:white;
	transition-delay: 0.15s;
}
.footer {
	background-color: black;
	text-align: center;
}
.footer li {
	display: inline-block;
	margin:10px auto;
}
.footer a {
	text-decoration:none;
	color: white;
	padding:10px 30px 10px;
}
.footer a:hover {
	background-color: white;
	color: black;
	transition-delay: 0.15s;
}
