* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.header, .footer {
	background-color: grey;
	padding: 50px 100px;
}
.section {
	margin: 0 auto;
	background-color: blue;
}
.section::after {
	display: block;
    content: "";
    clear:both;
}
.aside1 {
	float: left;
	text-align: center;
}
.content {
	background-color: white;
	text-align: center;
	padding: 10px 20px 0;
	width: 60%;
	float: left;
}
.aside2 {
	float: left;
	text-align: center;
}
.aside1, .aside2 {
	width: 20%;
	background-color: blue;
}